.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #93a9ad;
}

.interface{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 66vh;
  width: 33vw;

}

